* {
  box-sizing: border-box;
}
/* Nav section */
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(98, 195, 17);
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
  
}
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
    
}
main {
    grid-template-columns: repeat(6, 1fr);
    
}
.main-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px;
}

.logo {
  display: grid;
  grid-column: 1 / 4;
}

.nav-links {
  display: grid;
  grid-column: 4 / -1;
}
.other-links {
    display: flex;
    margin-top: 2%;
}
.icons {
    display: flex;
}
.icon-background {
  color: #72c929;
}

.icon-background-cart {
  color: crimson;
}

.fa-stack {
  margin-top: 2%;
}

.fa-bars,
.fa-heart,
.fa-shopping-cart {
  color: white;
}

.fa-stack > * {
  margin-right: 10%;
}

.logo p {
  color: white;
  font-weight: 700;
  margin-left: 14%;
}
@media only screen and (max-width: 767px){
    .nav-links .page-links {
        display: none;
    }
}
@media only screen  and (min-width: 768px){
    .main-nav {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 140px;
    }
    .logo {
        display: grid;
        grid-column: 1 / 5;
    }
    .nav-links {
        display: grid;
        grid-column: 6 / -1;
    }
    .nav-links-parent {
        display: flex;
        justify-content: space-evenly;
    }
    .other-links {
        margin-left: 10%;
    }
    .nav-logo {
        display: none;
    }
    
    
    .page-links ul {
        display: flex;
        justify-content: space-evenly;
        
    }
    .page-links ul li {
        list-style-type: none;
        margin-left: 4%;
    }
    .page-links ul li a {
        color: white;
        text-decoration: none;
    }
    
    
    

    
}

/* Description section */

.description {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px 400px;
}

.text {
    display: grid;
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    
}
.banner-image {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

.title h3 {
  color: white;
  font-size: 18px;
}

.small-description p {
  font-size: 12px;
  color: white;
}

.cta-button button {
  margin-top: 10%;
  background-color: crimson;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 12px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

.banner-image img {
  margin-top: 20%;
  display: block;
  padding-left: 8%;
  margin-right: auto;
  max-width: 100%;
}
@media only screen and (max-width: 768px){
    .offer-products {
        display: none;
    }
}
@media only screen and (min-width: 768px){
    body {
        overflow-y: scroll;
    }
    .description {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: 8%;
        margin-top: 10%;
    }
    .text {
        display: grid;
        grid-column: 1 / 2;
        margin-top: 10%;
        
    }
    .banner-image {
        display: grid;
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        margin-top: 0;
    }
    .banner-image img {
        margin-top: 0;
        margin-bottom: 20%;
    }
    
    .text-description {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin-left: 10%;
    }
    
    .number-circle1 {
        position: relative;
        top: 0;
        right: 55%;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: green;
        border: 2px solid #666;
        color: white;
        text-align: center;
        font: 12px Arial, sans-serif;
    }
    .title-and-heading {
        display: flex;
        flex-direction: column;
    }
    .bride-item  {
        width: 56%;
        height: 200px;
        margin-right: 40px;
        background: #8C8;
        border-radius: 5px;
    }
    
    .bride-item img {
        max-width: 100%;
        margin-right: 10%;
    }
    .offer-products h2 {
        width: 100%;
    }
    .title-and-heading h3 {
        margin: 0;
    }
}
/* user feedback section */
.user {
  background-color: white;
  width: 58%;
  height: 260px;
  margin-right: 10px;
  border-radius: 5px;
}
.header-description {
  display: flex;

}
.feedback-text {
  margin-left: 3%;
}
.user-text {
  margin-left: 5%;
}
.user-text h5 {
  margin-bottom: 0;
}
.user-feedback h4 {
  color:  white;
}
.header-description img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 3%;
  margin-left: 3%;
}
/* Products page */

.upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-button {
  background-color: white;
  margin-top: 10%;
  display: inline-block;
  border: 2px solid green;
  padding: 12px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: green;
  width: 80%;
  margin-left: 10%;
}

.product {
  border: 0.5px solid gray;
  height: 200px;
  border-radius: 12px;
  margin-right: 50px;
}

.carousel {
  background: white;
  height: 450px;
  margin-top: 10%;
}

.carousel-cell {
  width: 75%;
  height: 100%;
}

.product .fa-heart-o {
  position: relative;
  font-size: 14px;
  top: 12px;
  left: 15px;
}

.product-image {
  max-width: 100%;
}

.sizes {
  display: flex;
  margin-top: 2px;
  max-width: 100%;
}

.sizes-btn {
  margin-left: 4%;
  background-color: white;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 5px 21px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
}

.first {
  border: 2px solid green;
}

.price {
  display: flex;
}

.price p {
  font-size: 18px;
}

.price i {
  color: crimson;
  padding-top: 22px;
  margin-left: 10px;
  font-size: 20px;
}

.product p {
  margin-left: 4%;
}

.upper-container h3 {
  margin-left: 4%;
}

/* Product item page */

.product-item {
  position: absolute;
  width: 100%;
  margin-top: 10%;
}

.number-circle {
  position: relative;
  top: 0;
  left: 85%;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: green;
  border: 2px solid #666;
  color: white;
  text-align: center;
  font: 12px Arial, sans-serif;
}

.more-details {
  margin-left: 4%;
}

.colors {
  display: flex;
  justify-content: left;
}

.color-green {
  border: 2px solid #a1a1a1;
  padding: 10px 11px;
  background: green;
  border-radius: 100%;
  margin-right: 2px;
  width: 1%;
}

.additionl-feature {
  display: flex;
}

.prices {
  display: flex;
  align-items: center;
}

.price-old {
  font-size: 12px;
  text-decoration: line-through;
  margin-top: 4%;
  margin-right: 8%;
}

.additional-feature p {
  margin-top: 10px;
  margin-bottom: 2px;
}

.buy {
  margin-top: 2px;
  background-color: crimson;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 12px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
