* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(98,195,17);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main-nav,
.logo,
.nav-links {
    display: flex;
    
}
.logo {
    width: 50%;
}
.nav-links {
    justify-content: space-evenly;
    align-items: center;
}
.icon-background {
    color: #72c929;
}
.icon-background-cart {
    color: crimson;
}
.fa-stack {
    margin-top: 2%;
    
}
.fa-bars,
.fa-heart,
.fa-shopping-cart {
    color: white;
}

.fa-stack > * {
    margin-right: 10%;
}
.logo p {
    
    color: white;
    font-weight: 700;
    margin-left: 14%;
}
/* Description section */
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
}
.title h3 {
    color: white;
    font-size: 18px;

}
.small-description p {
    font-size: 12px;
    color: white;
}
.cta-button button {
    margin-top: 10%;
    background-color: crimson;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 12px 32px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}
.banner-image img {
    margin-top: 10%;
    display: block;
    padding-left: 8%;
    margin-right: auto;
    max-width: 100%;
    
}
/* Products page */
.upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter-button {
    background-color: white;
    margin-top: 10%;
    display: inline-block;
    border: 2px solid green;
    padding: 12px 32px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    color: green;
    width: 80%;
    margin-left: 10%;
    
}
.product {
    border: 0.5px solid gray;
    margin:10%;
    border-radius: 12px;
}
.product .fa-heart-o {
    position: relative;
    font-size: 14px;
    top: 12px;
    left:  15px;


}
.product-image {
    max-width: 100%;
}
.sizes {
    display: flex;
    margin-top: 2px;
    
    
}
.sizes-btn{
    
    margin-left: 4%;
    background-color: white;
    display: inline-block;
    border: 2px solid gray ;
    border-radius: 30px;
    padding: 5px 21px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
}
.first {
    border: 2px solid green;
}
.price {
    display: flex;
    
}
.price p {
    font-size: 18px;
}
.price i {
    color: crimson;
    padding-top: 22px;
    margin-left: 10px;
    font-size: 20px;
}
.product p {
    margin-left: 4%;
}